/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    
    margin: 0;
    padding: 0;
    background-color: #95ceeb;
    background-clip: url()

    
    
}

/* Header */
header {
    background-color: #629ecf;

    color: rgb(44, 29, 37);
    padding: 20px;
    background-image:url(images/1.webp);
 
   
}
h1 {
    color: rgb(12, 12, 12);
    font-family: cursive;


}

/* About Section */
.about {
    padding: 20px;
    font-size: 18px;
    
   
}


p{
    color: rgb(14, 13, 13);
}
/* Footer */
footer {
    background-color: #755943;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url(images/22.jpg);
}

/* Pop-up Modal */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(133, 98, 98, 0.7);
    justify-content: center;
    align-items: center;
   
}
.div{
    border-image: round;

}
.text-box {
    border: 4px solid black;
    width: fit-content;
    box-shadow: inset;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique , bold ;
    background-color: #8fe68f;
    




}

.popup-content {
    background: rgb(113, 160, 106);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    background-image: url( images/since\ 2018.jpg ) ;
    background-size: fill ;
    background-position: center;
    background-blend-mode: lighten;
    -webkit-text-fill-color: rgb(13, 13, 14);
    
    
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.popup-btn {
    background-color: #51e20d;
    color: rgb(194, 34, 34);
    border:#629ecf;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    
    
}

.popup-btn:hover {
    background-color: #c7186a;
    box-shadow: #010f16;
    opacity: 0.9;
    
}